<section class='welcome'>
  <%= partial 'shared/nav' %>
  <h1 class='animated fadeInUp'>SDG LAW</h1>
  <h2 class='animated fadeInUp'>Passion. Excellence. Care.</h2>
</section>
<section class='l-container content'>
  <header id="header" class="module">
    <%= partial 'shared/nav' %>
  </header>
  <section class='hero module'>
    <%= image_tag 'logo.jpg' %>
  </section>
  <section class='tagline module'>
    <h2>
      Religious Institutions&nbsp;&nbsp;&nbsp;
      Bankruptcy&nbsp;&nbsp;&nbsp;
      Business Disputes
    </h2>
  </section>
  <div id='contact'></div>
  <br>
  <section class='contact module'>
    <h4>contact</h4>
    <ul>
      <li><%= mail_to 'dhyams@sdglawllc.com' %></li>
      <li>720-989-1281</li>
      <li>PO Box 100242, Denver, CO 80250</li>
    </ul>
  </section>

  <span id='case-matters'></span>
  <section class='module' id='case-wrapper'>
    <h2>Representative Case/Matters</h2>
    <section class='col-1'>
      <article class='case'>
        Advised churches and ministries of various sizes and denominations in matters regarding employment, property disputes, security and reporting protocols, facility usage, and constitutional rights.
      </article>
      <article class='case'>
        Represented numerous banks and lenders in complex bankruptcy cases and adversary proceedings arising under Chapters 7, 11, 12, 13, and 15 of the Bankruptcy Code.
      </article>
      <article class='case'>
        Successfully represented regional bank creditor in Chapter 12 case, forcing unscrupulous debtor to abandon efforts and exit bankruptcy, allowing bank to proceed with liquidation efforts.
      </article>
      <article class='case'>
        Lead counsel in peacefully negotiating the departure of a pastor from a large church.
      </article>
    </section>
    <section class='col-2'>
      <article class='case'>
        Co-counsel on defending C-Suite executive in non-compete litigation against major healthcare company.
      </article>
      <article class='case'>
        Co-counsel in 7-day jury trial defending large software company in an employment dispute, prevailing on most claims and limiting damages to a fraction of demanded amount.
      </article>
      <article class='case'>
        Obtained a complete defense for religious school in age discrimination claim brought by former teacher by asserting ministerial exception defense.
      </article>
      <article class='case'>
        Successfully represented student loan guarantor in numerous bankruptcy dischargeability proceedings.
      </article>
    </section>
  </section><!-- case matters -->
  <span id='about'></span>
  <section class='module about'>
    <div class='image'>
      <%= image_tag 'david_hyams.jpg' %>
    </div>
    <div class='copy'>
      <h2>About David Hyams</h2>
      <p>
        Thank you for visiting SDG Law!  One of the five great “solas” of the Reformation, <b>Soli Deo Gloria</b> is not only the inspiration of the firm’s name, it is the purpose of the firm’s existence: to bring glory to God alone.
      </p>
      <p>
        Being a lawyer is a holy calling. It is my ministry. Whether I am representing an individual, a church, a school, a bank, or a company, I am honored to serve and advocate for those in need of legal assistance.
      </p>
      <p>
        I have spent my career in large law firms dedicated to delivering top-notch legal services. At SDG Law, you will receive this same level of exceptional service, but at a price customized to the realities of your goals, budget, and case.
      </p>
      <p>
        I assist religious organizations, non-profits, and businesses resolve their legal needs in a manner that honors their values and mission. From corporate disputes to constitutional litigation, I am passionate about providing superior customer service for my
      clients in and out of court. I also represent individuals, banks, lenders, and trustees in bankruptcy cases and adversary proceedings of various sizes and complexities.
      </p>
      <p>
        I enjoy reading, assisting my wife in home educating our two children, traveling, and camping in the beautiful Colorado outdoors.
      </p>
      <p>
      The firm’s logo represents the five smooth stones David chose for his battle with Goliath in </p>
      <div class="tooltip-item">
        1 Samuel 17:40
        <div class="tooltip">
          <i>Then he took his staff in his hand, chose five smooth stones from the stream, put them in the pouch of his shepherd’s bag and, with his sling in his hand, approached the Philistine. (NIV)</i>
        </div>
      </div>
      <p>
      Collectively, they signify the larger law practice, but just as it took only one stone to slay the giant, it takes only one lawyer at SDG Law to meet your legal needs, regardless of the size of the opposition.
      </p>
      <p>
        If you’re looking for an attorney who will deliver premium service at a price commensurate with the problem, let’s talk.  I would be honored to walk alongside you as you navigate this season of your personal, business, or ministry life.
      </p>
      <p>
        David Hyams, Founder
      </p>
      <div class='signature'>
        <%= image_tag 'signature.png' %>
      </div>
      <p>
        SDG LAW, llc
      </p>
    </div>
  </section> <!-- about -->
  <span id='details'></span>
  <h2>Details</h2>
  <div class="vertical-tabs-container module">
    <div class="vertical-tabs">
      <a href="javascript:void(0)" class="js-vertical-tab vertical-tab is-active" rel="tab1">MEMBERSHIPS AND AFFILIATIONS</a>
      <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab2">PUBLICATIONS</a>
      <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab3">SPEAKING ENGAGEMENTS</a>
      <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab4">PROFESSIONAL EXPERIENCE</a>
      <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab5">COURT ADMISSIONS</a>
      <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab6">PRACTICES AREAS</a>
      <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab7">EDUCATION</a>
      <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab8">BAR ADMISSIONS</a>
      <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab9">COMMUNITY INVOLVEMENT</a>
    </div>

    <div class="vertical-tab-content-container">
      <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading is-active" rel="tab1">MEMBERSHIPS AND AFFILIATIONS</a>
      <div id="tab1" class="js-vertical-tab-content vertical-tab-content">
        <ul>
          <li>Colorado and Denver Bar Associations, Member</li>
          <li>Civil Rights Subcommittee for Colorado Bar Association, Member</li>
          <li>Idaho Bar Association, Member</li>
          <li>American Bankruptcy Institute, Member</li>
          <li>Faculty of Federal Advocates, Member</li>
          <li>Christian Legal Society, Member</li>
          <li>Justice and Mercy Legal Aid Clinic, Advisory Board Member and Pro Bono Volunteer</li>
          <li>Denver Seminary, Training and Mentoring Program Volunteer</li>
        </ul>
      </div>

      <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab2">PUBLICATIONS</a>
      <div id="tab2" class="js-vertical-tab-content vertical-tab-content">
        <ul>
          <li>David M. Hyams and Julian Ellis, "Natural Persons, Unnatural Law: Conflict for Corporate Debtors Between § 548(d)(3)(A) and RFRA," XXXIII ABI Journal 3, 34-35, 99, March 2014</li>
          <li>Contributing Editor, "Religious Organizations and the Law - Chapter on Bankruptcy," Thomson Reuters</li>
          <li>Author, "Governor's Colorado Day of Prayer Proclamations Deemed Unconstitutional," RJ&L The First Freedom, Fall 2012‎</li>
          <li>Author, "The Mission of Centro San Juan Diego," RJ&L The First Freedom, Fall 2011‎</li>
          <li>Contributing Editor, "The Developing Labor Law: The Board, the Courts, and the National Labor Relations Act," (BNA) (5th ‎ed.)‎</li>
          <li>Contributing Editor, "Employer Policy Handbook," Employment Law Section of Idaho State Bar</li>
          <li>Author, Going Overboard on Overtime: Bostain v. Food Express, Inc., Transportation Law Journal, 64-80, Spring 2008</li>
        </ul>
      </div>

      <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab3"></a>
      <div id="tab3" class="js-vertical-tab-content vertical-tab-content">
        <ul>
          <li>Presenter, "Religious Liberty & the Christian Business Owner: Legal Challenges & Opportunities in a Post-Hobby LobbyWorld," Kingdom Way Ministries, June 2015</li>
          <li>Presenter, "At Will Employment: What Is It?," Colorado Charter Schools Conference, February 2015</li>
          <li>Presenter, "Religious Liberty & the Christian Business Owner: Legal Challenges & Opportunities in a Post-Hobby LobbyWorld," Christian Leadership Alliance Denver Chapter, February 2015</li>
          <li>Presenter, "Church Law Update," Church Network Mile High Chapter, January 2015</li>
          <li>Presenter, "Section 501(c)(3) Status: The Good, the Bad, and the Ugly," Colorado Department of Education Annual Charter School Finance Seminar, September 2014</li>
          <li>Presenter, "IT Policies for Schools," Colorado League of Charter Schools Tech Talk Meeting, April 2014</li>
          <li>Presenter, “Staff and HR Social Media Policies,” Colorado League of Charter Schools Business Manager Network Meeting, May 2013</li>
          <li>Presenter, “Christian Calling and the Legal Profession,” ‎Christian Legal Society, University of Denver Law School Chapter,March 2013‎</li>
          <li>Presenter, "Religious Freedom Under Assault and What it Means to Churches," Mile High NACBA Seminar, September 2012</li>
          <li>Presenter, "The Building Campaign: Steps to Success and Steps to Avoiding ‎Bankruptcy," Religious Institutions Law Day Seminar, September 2011‎</li>
          <li>Presenter, "Law, Apologetics, & Worldview Symposium," University of Denver Sturm College of Law, September 2007‎</li>
        </ul>
      </div>

      <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab4">PROFESSIONAL EXPERIENCE</a>
      <div id="tab4" class="js-vertical-tab-content vertical-tab-content">
        <ul>
          <li>Lewis Roca Rothgerber LLP (legacy firm Rothgerber Johnson & Lyons LLP), 2010-2015</li>
          <li>Holland & Hart, LLP, Boise, ID 2008–2010‎</li>
        </ul>
      </div>
      <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab5">COURT ADMISSIONS</a>
      <div id="tab5" class="js-vertical-tab-content vertical-tab-content">
        <ul>
          <li>U.S. District Court, Idaho, 2008</li>
          <li>U.S. Bankruptcy Court, Idaho, 2008</li>
          <li>U.S. District Court, Colorado, 2010</li>
          <li>U.S. Bankruptcy Court, Colorado, 2010</li>
          <li>Colorado State Judicial District Courts, 2010</li>
          <li>Colorado Supreme Court, 2010</li>
          <li>Colorado Court of Appeals, 2010</li>
        </ul>
      </div>
      <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab6">PRACTICE AREAS</a>
      <div id="tab6" class="js-vertical-tab-content vertical-tab-content">
        <ul>
          <li>Bankruptcy and Creditors' Rights</li>
          <li>Litigation</li>
          <li>Nonprofit Organizations</li>
          <li>Religious Institutions</li>
        </ul>
      </div>
      <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab7">EDUCATION</a>
      <div id="tab7" class="js-vertical-tab-content vertical-tab-content">
        <ul>
          <li>J.D., University of Denver, Sturm College of Law, 2008</li>
          <li>M.A., Philosophy, Georgia State University, 2004</li>
          <li>M.A., Philosophy of Religion,Denver Seminary, 2003, Honors Graduate</li>
          <li>B.S., Health & Exercise Science,Colorado State University, 2000</li>
        </ul>
      </div>
      <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab8">BAR ADMISSIONS</a>
      <div id="tab8" class="js-vertical-tab-content vertical-tab-content">
        <ul>
          <li>Colorado, 2010</li>
          <li>Idaho, 2008</li>
        </ul>
      </div>
      <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab9">COMMUNITY INVOLVEMENT</a>
      <div id="tab9" class="js-vertical-tab-content vertical-tab-content">
        <ul>
          <li>Board Member, Christian Leadership Alliance, Denver Chapter‎</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class='ending module'>
  <%= partial 'shared/nav' %>
  <h1 class='animated fadeInUp'>SDG LAW</h1>
  <h2 class='animated fadeInUp'>Passion. Excellence. Care.</h2>
  <!-- <section class='contact module'>
    <ul>
      <li><%= mail_to 'dhyams@sdglawllc.com' %></li>
      <li>720-989-1281</li>
      <li>PO Box 100242, Denver, CO 80250</li>
    </ul>
  </section>
  <section class='aor module'>
    <p>design and code by <%= link_to 'andy or dave', '' %></p>
  </section> -->
</section>
