---
title: Dave Woodall
layout: guide
---

<!--
  let our tools inspire new paths and thought
 -->

<div
  class="
    _reach_ app info_bar
    _content_ title
    _responsive_ col-1
    _state_ active
    _overrides_
    _animation_
    ">
    <%= data.guide.info_bar %>
  <div
    class="
      _reach_ collection
      _content_ container
      _responsive_ col-1
      _state_ active
      _overrides_">

      <div
        class="
          _reach_ unit welcome-title
          _content_ title
          _responsive_ col-1
          _state_ active
          _overrides_">
          <%= data.guide.welcome_title %>
      </div><!-- unit welcome-title-->

      <div
        class="
          _reach_ unit rounded-background-dark
          _content_ paragraph
          _responsive_ col-1
          _state_ active
          _overrides_">
          <%= data.guide.rounded_background_dark %>
      </div><!-- unit rounded-background-dark-->

      <div
        class="
          _reach_ unit list-summary
          _content_ list
          _responsive_ col-1
          _state_ active
          _overrides_">
          <%= data.guide.list_summary %>
      </div><!-- unit list-summary-->

      <div
        class="
          _reach_ unit welcome_btn
          _content_ button
          _responsive_ col-1
          _state_ active
          _overrides_
          _animation_ fadeIn
          ">
          <%= data.guide.welcome_btn %>
      </div> <!-- unit welcome_btn-->

      <div
        class="
          _reach_ unit welcome-message
          _content_ paragraph
          _responsive_ col-1
          _state_ dynamic
          _overrides_"

          data-content='welcome'>

          This is a test for something that should start hidden but then is revealed when someone pushes the button

      </div> <!-- unit welcome-message-->
  </div><!-- collection -->
</div> <!-- app info_bar-->
