---
title: Dave Woodall
---
<section class='welcome'>
  <%= image_tag 'ap.png' %>
  <h2 class='animated fadeInDown'>Dave Woodall </h2>
  <h2 class='title'>
    co-founder<br>
    for hire<br>
  </h2>
  <h2 class='username'><%= link_to 'wwwoodall','http://www.twitter.com/wwwoodall', target: '_blank' %></h2>
</section>
<header id="header" class="module">
  <%= partial 'shared/nav' %>
</header>
<div class="mobile-hero">
  <h2 class='mobile-hero__title animated fadeInDown'>Dave Woodall</h2>
  <%= image_tag 'tall.jpg' %>
</div>
<section class='l-container content'>
  <section class='salespitch'>
    <div id='services'></div>
    <h1>Services</h1>
    <div class="triangle animated rollIn">
      <%= image_tag 'abc.png' %>
    </div>
    <div class="abc-copy">
      <h1 class='me-summary'><span class='hello'>Hello.</span> I'm a web developer who can design pretty pictures &amp; analyze the P &amp; L</h1>
      <hr>
      <p id='click-abc' class='abc-btn'>SERVICES</p>
      <span class='clearfix'></span>
      <div class="abc-summary">
        <h2 class='abc-summary__sub-titles'>Digital Handyman</h2>
        <p>I've spent 20 years building a diversified career. I used to explain my eclectic combination of skills as a 'CEO in training'.<a href="http://www.amazon.com/Autobiography-Benjamin-Franklin-Thrift-Editions/dp/0486290735" title="Benjamin Franklin's Autobiography"> Benjamin Franklin</a> introduced me to the life of a Renaissance Man - a man of many interests. <br>The way to grow a business is to understand the relationship of three categories: Art (systems), Business (profit), and Code (execution). My value add is as a translator between the separate, yet essential aspects of a modern day Enterprise.</p>
        <hr>
        <h2 class='abc-summary__sub-titles'>Whiteboard aficionado</h2>
        <h3>Art<br> + Business<br> = Strategy</h3>
        <p>An exciting customer experience must be designed systematically. I take many plays out of <a href="http://www.amazon.com/E-Myth-Revisited-Small-Businesses-About/dp/0887307280/ref=sr_1_1?s=books&ie=UTF8&qid=1448317932&sr=1-1&keywords=emyth" title="e-myth">e-myth</a>, <a href="http://www.amazon.com/The-Experience-Economy-Theater-Business/dp/0875848192" title="experience economy">experience economy</a> and <a href="http://www.amazon.com/Whole-New-Mind-Right-Brainers-Future/dp/1594481717/ref=sr_1_1?s=books&ie=UTF8&qid=1448317872&sr=1-1&keywords=whole+new+mind" title="a whole new mind">a whole new mind</a> to remain competitive in today's marketplace.</p>
        <hr>
        <h2 class='abc-summary__sub-titles'>Code is a natural resource</h2>
        <h3>Business<br> + Code<br> = Profit</h3>
        <p>After my first business went insolvent I realized that ignoring accounting and finance in favor of sales and product design was not smart. This is when I decided to take the time and learn how to manage a sustainable business. I received a Masters in Finance andy applied my new education on a second business, which I sold in after four years and nearly $3M in sales with 3 employees. What we build must serve the customer's need to the end they are willing to pay enough that we make a positive net income on the transaction.</p>
        <hr>
        <h2 class='abc-summary__sub-titles'>Fresh products are easy to sell</h2>
        <h3>Code<br> + Art<br> = Growth</h3>
        <p>Code must be presented in such a way that the user experience is so pleasant it creates raving fans who tell their friends about us. In 2007 I discovered <a href='http://www.basecamp.com' target='_blank'>basecamp</a>. It's simplicity, effectiveness, and business model fascinated me. It was the first web app that made me realize the web did not die when the <i>dot com</i> bubble burst. I started joking with my friends around that time that "I've recently come to the conclusion that the Internet was here to stay". Meaning, I knew how to consume the web but I didn't know how to produce it. Since 2009 I've learned what is actually possible.</p>
        <hr>
        <div class="rate-section">
          <h3 class='rate'>$295 hour</h3>
          <p class='rate-text'>I am currently available for 5 - 10 hours a week at $295 hour or full-time <br>(Boulder, Greenville SC, or Remote) <br>as a Javascript &amp; Rails Developer.</p>
        </div>
      </div>
    </div>
  </section>
  <div id='contact'></div>
  <br>
  <section class='contact module'>
    <h4>contact</h4>
    <ul>
      <li><%= mail_to 'dave@woodalls.me' %></li>
      <li>303.416.7032</li>
      <li>Boulder, CO</li>
      <li class=''>
        <%= link_to '','http://www.twitter.com/wwwoodall', class: 'fa fa-twitter', target: '_blank' %>
      </li>
    </ul>
  </section>

  <div id='resume'></div>
  <section class='module resume'>
    <h1>Resume</h1>
    <p>Capable of designing, coding, and implementing proposed plans</p>
    <div class="comment">
      <div class="comment-image">
        <%= image_tag 'animores/turkey.jpg' %>
      </div>
      <div class="comment-content">
        <span id='living-social'></span>
        <h1>Software Engineer <span class='company'>Jan 2014 - Present</span></h2>
        <p class="comment-detail">livingSocial</p>
        <p>LivingSocial was my first real code base and first job as a developer. I interviewed with <a href="https://twitter.com/dhassler" title="@dhassler">Dave H</a> and <a href="https://twitter.com/twitty_tim" title="@twitty_tim">Tim S</a>. Tim gave me a question from <a href="http://www.amazon.com/Design-Patterns-Ruby-Russ-Olsen/dp/0321490452" title="Russ Olsen Design Patterns">Russ Olsen Design Patterns</a>. I read the book and admitted I only knew the answer because I read it. I also explained I was weak in two areas; javascript and TDD. I got points for honesty :-) They saw that I was committed to learning and growing and I was hired to handle some front end work in Rails views for the Escapes team.</p>
          <h3>Team 1: Escapes Retail Vertical</h3>
          <div class='ls-examples'>
            <div class="ls-examples__copy">
              <p>Most of my work was frontend on Rails: HTML, ERB, Partials, CSS, and JQuery maintenance.</p>
              <p>During this time I leveled up my vanilla JavaScript, Jasmine, and MiniTest skills.</p>
            </div>
          <%= image_tag 'escape.png' %>
          </div>
          <hr>
          <h3>Team 2: Personalization Data Science GEM &amp; UI</h3>
          <p>This is the first time I worked with a Gem instead of Rails. It was for the Data Science teams. It was awkward because without Rails because I had to orient myself with code that had no familiar architecture where Data Scientists use the words <span>test, engine, model</span> in very different ways.</p>
          <h1>Urgency</h1>
          <div class='ls-examples'>
            <div class="ls-examples__copy">
            <p>we used this to entice people 10%. Much of my work on this project was in JavasScipt debugging and QA testing.</p>
            </div>
            <%= image_tag 'urgency.png' %>
          </div>
          <h1>Daily Gem</h1>
          <div class='ls-examples'>
            <div class="ls-examples__copy">
            <p>Yes, we actually hired Robin Leach <%= link_to "for this", "https://vimeo.com/102170193" %>. At the end of the experiment, we realized that people will buy more if the price is cheaper. The experiment was a success.</p>
            </div>
            <%= link_to image_tag('robin.png'), 'https://vimeo.com/102170193', taget: '_blank' %>
          </div>
          <h1>Save For Later</h1>
          <div class='ls-examples'>
            <div class="ls-examples__copy">
              <p>
                I volunteered to be lead developer because the former developer quit. I admit I was in over my head but thanks to <a href="http://shaunrussell.com/" title="Shaun Russell">Shaun Russell</a> for bailing me out!
              </p>
            </div>
          <%= image_tag 'sponsor.png' %>
          </div>
          <hr>
          <h3>Team 3: Internal Tools, Customer Service</h3>
          <div class='ls-examples'>
            <div class="ls-examples__copy">
            <p>Working in a tech company can make one forget that there are actual people being serviced from all this code. But working on internal tools for customer service reps means learning firsthand customer problems and attempting to come up with solutions to empower people with the abilit to create happy customer experiences.</p>
            </div>
            <%= image_tag 'q.svg', class: 'small-img' %>
          </div>
          <hr>
          <h3>Volunteer work</h3>
          <%= image_tag 'five_year_plan.png' %>
          <ul>
            <li>Founder, LS Angular Club <br> A weekly gathering to learn Angular by building internal apps</li>
            <li><br>Facilitator, Lightning talks<br>Organize internal speakers for 2 - 7 minute talks about anything of interest.</li>
            <li><br>Author,<br>
              <%= link_to "LivingSocial 2.0 - A vision for the future", "dl.dropboxusercontent.com/u/13563632/xls_draft.pdf", target: '_blank' %>
            </li>
          </ul>
          <hr>
          <h3>Conclusion</h3>
          <p>
             Working with three different pilots and then speaking with our <i>Business to Consumer</i> customers gave me perspectives on what entices a customer but also how to solve buyer remorse. Some examples include: <br>• Broad understanding of what it takes to work on a massive code base<br>•  Increased understanding of Micro Services<br>• Working on and with multiple apps at the same time<br>• A production level design work flows.
          </p>
      </div>
    </div>
    <hr>
    <div class="comment">
      <div class="comment-image">
        <%= image_tag 'animores/whale.jpg' %>
      </div>
      <div class="comment-content">
        <h1>Web Developer <span class='company'>Feb 2014 - Present</span></h2>
        <p class="comment-detail">FakeFarm</p>
        <p>fake farm is a digital playground to practice as a developer, designer, and father. The site is a collection of random pet projects in a blog format.</p>
        <p>visit <a href="http://fakefarm.com" title="fake farmi">fake farm</a></p>
      </div>
    </div>
    <hr>
    <div class="comment">
      <div class="comment-image">
        <%= image_tag 'animores/squid.jpg' %>
      </div>
      <div class="comment-content">
        <h1>Web Design &amp; Development <span class='company'>March 2013 - Jan 2014</span></h2>
        <p class="comment-detail">hireDave, LLC</p>
        <p>Freelance Design and development with Ruby on Rails, HTML, CSS, JQuery, JavaScript, Angular, Adobe Photoshop. Projects include work for the following clients;</p>
        <ul>
          <li>Marshill.com</li>
          <li>3rdRevolution.com</li>
          <li>InvitedHome.com</li>
          <li>SuppFinder.com</li>
          <li>LoganStreetCapital.com</li>
          <li>BrandFolder.com</p>
        </ul>
      </div>
    </div>
    <hr>
    <div class="comment">
      <div class="comment-image">
        <%= image_tag 'animores/fly.jpg' %>
      </div>
      <div class="comment-content">
        <h1>Web Developer <span class='company'>November 2012 - March 2013</span></h2>
        <p class="comment-detail">Factory Design Labs</p>
        <p>Ruby on rails development guided by great mentors like <a href="https://twitter.com/mikepack_" title="@mikePack_">Mike P</a>, and <a href="https://twitter.com/anthonynavarre" title="Anthony Navarrei">Anthony Navarre</a></p>
      </div>
    </div>
    <hr>
    <div class="comment">
      <div class="comment-image">
        <%= image_tag 'animores/crab.jpg' %>
      </div>
      <div class="comment-content">
        <h1>Intern <span class='company'>Sep 2012 - Nov 2012</span></h2>
        <p class="comment-detail">Pivotal Labs</p>
        <p>Even though I wasn't a professional developer yet I wanted to start living like one. So, I asked <a href="http://www.twitter.com/mikegehard" title="@mikegehard">Mike G</a> if I could hangout at their office for a day. That one day turned into an informal, first hand mentoring session from a room full of Pivots.</p>
      </div>
    </div>
    <hr>
    <div class="comment">
      <div class="comment-image">
        <%= image_tag 'animores/ostrich.jpg' %>
      </div>
      <div class="comment-content">
        <h1>Co-Founder &amp; CEO <span class='company'>Apr 2008 - Jul 2012</span></h2>
        <p class="comment-detail">AMB3R custom t-shirts</p>
        <p>Summary: Started company with a vision to become the ‘Starbucks of t-shirts’. Launched business with an innovative product offering and unique approach to custom apparel. Collaborated with vendors to develop a JIT model that responds to orders based on market trends. <br> #TODO rewrite this.</p>
      </div>
    </div>
    <hr>
    <div class="comment">
      <div class="comment-image">
        <%= image_tag 'animores/dog.jpg' %>
      </div>
      <div class="comment-content">
        <h1>Art Director <span class='company'>March 2009 - October 2011</span></h2>
        <p class="comment-detail">Ouray Sportswear</p>
        <p>Part of new management team to turnaround bankrupt company and win South Denver’s 2011 Small Business of the Year award. Applied an analytical approach to the creative process which included ongoing trend and market analysis. Developed lean systems for the creative team to meet aggressive deadlines which lead to a company wide adoption of my techniques.</p>
      </div>
    </div>
    <h2>Education</h2>
    <hr>
    <div class="comment">
      <div class="comment-image">
        <%= image_tag 'animores/pelican.jpg' %>
      </div>
      <div class="comment-content">
        <h1>M.S. Finance <span class='company'>March 2009 - October 2011</span></h2>
        <p class="comment-detail">University of Denver</p>
        <p>I wanted to learn the subjects that caused my first business to go out of business. I was motivated to focus on cash flow management and maintaining a high profit margins to demonstrate growth. I applied the skills I was learning to running AMB3R, which I sold in 2012 after learning how to do so :-)</p>
      </div>
    </div>
    <hr>
    <div class="comment">
      <div class="comment-image">
        <%= image_tag 'animores/turtle.jpg' %>
      </div>
      <div class="comment-content">
        <h1>BS Communications - Advertising &amp; PR <span class='company'>March 2009 - October 2011</span></h2>
        <p class="comment-detail">Liberty University</p>
        <p>While I have a degree, I feel I learned more from the hobbies I started in school. I started a clothing company, skate team, and other micro clubs that gave me the confidence to try new things.</p>
      </div>
    </div>
    <hr>
    <div class="comment">
      <div class="comment-image">
        <%= image_tag 'animores/lion.jpg' %>
      </div>
      <div class="comment-content">
        <h1>Web Development <span class='company'>Summer 2012</span></h2>
        <p class="comment-detail">Starter League</p>
        <p>My wife is the real story behind this. She moved from Denver with our two toddlers to live with my inlaws in Naples, FL while I spent 3 months in Chicago learning how to code! She is amazing.</p>
      </div>
    </div>
    <hr>
    <div class="comment">
      <div class="comment-image">
        <%= image_tag 'animores/dodo.jpg' %>
      </div>
      <div class="comment-content">
        <h1>Ongoing Education<span class='company'>Books, Videos, Blogs, Projects</span></h2>
        <p>As an INTJ I am an avid learner. I am constantly looking for new things to master which probably explains why I have such an eclectic career. I have enjoyed each of the separate parts of an organization but more so to gain the experience to run my own successful enterprise when the time is right.</p>
      </div>
    </div>
  </section>


  <span id='about'></span>
  <section class='module about'>
    <h1>About me</h1>
    <div class='image'>
      <%= image_tag 'bird.jpg' %>
    </div>
    <div class='copy'>
      <h2>I'm glad not to be a kid anymore</h2>
      <p>
        Youth was an amazing experience but had it's downsides like trying to make something of myself and the delusion of self-sufficiency. But time, trials, and failure helped me see that life is to be lived by following God instead of chasing temporal health and wealth.
      </p>
      <h2>
        HTML is the New English
      </h2>
      <p>
        Before coding full time, I spent 17 years in small business sales &amp; marketing experience, including 3 turnarounds, founding 2 companies, selling one, and now realize that Art Director was my favorite past job before coding. I'm formally trained with a Masters in Finance. Yes, it's been an adventure!
      </p>
      <p>
        I like to describe the web as a new country called <i>InternetLand</i>.  Consider how difficult it is for people who don't know English in America. In InternetLand, <i>HTML is the new English</i>. I wanted to join that new economy without being bound to a translator because there is more opportunity in InternetLand than in America.
      </p>
      <div class='signature'>
        <%= image_tag 'sig.jpg' %>
      </div>
    </div>
  </section> <!-- about -->
  <span id='details'></span>
  <h1>Hobbies</h1>
  <div class="vertical-tabs-container module">
    <div class="vertical-tabs">
      <a href="javascript:void(0)" class="js-vertical-tab vertical-tab is-active" rel="tab1">writing my thoughts</a>
      <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab2">learning to code</a>
      <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab3">making movies</a>
      <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab4">clicking my kids</a>
      <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab5">design of all kinds</a>
      <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab6">forming micro-clubs</a>
      <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab7">building pet projects</a>
      <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab8">managing social profiles</a>
    </div>

    <div class="vertical-tab-content-container">
      <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading is-active" rel="tab1">writing</a>
      <div id="tab1" class="js-vertical-tab-content vertical-tab-content">
        <h2>Not to small or big. Just Write.</h2>
        <p>I've recently started writing again on
          <a href="https://medium.com/@wwwoodall" title="">medium</a>.
          I took a break from platforms because I was trying to build my own blogging platform for practice. The problem with that approach is I was always coding rather that writing. So, I've decided to start again and just see what happens.</p>
          <script async src="https://static.medium.com/embed.js"></script><a class="m-profile" data-width="100%" href="https://medium.com/@wwwoodall">dave woodall</a>
      </div>

      <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab2">code</a>
      <div id="tab2" class="js-vertical-tab-content vertical-tab-content">
        <h2>Eat. Sleep. Code.</h2>
        <p>I've been coding for 5 years now. It's the biggest subject I've ever undertaken to learn so it's a hobby as much as it's a profession. After the thousands of hours I've invested I still only feel like I'm in the shallow end. But I love it!</p>
        <h2>Stats</h2>
        <ul>
          <li>Frontend: HTML/SLIM, CSS/SCSS, JavaScript/Coffee</li>
          <li>Backend: Ruby, Ruby on Rails, Middleman</li>
          <li>Tools: Bash, Git, Sublime Text, HTTP, Heroku</li>
          <li>Tinkering: AngularJS, BackBoneJS, Node / Express</li>
        </ul>
      </div>

      <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab3">movies</a>
      <div id="tab3" class="js-vertical-tab-content vertical-tab-content">
       <h2>Home Movies</h2>
       <p>I enjoy poking around with iMovie and GarageBand but I don't have enough storage to keep those videos so I post them on youtube. Here are a few examples</p>
       <iframe width="100%" height="315" src="https://www.youtube.com/embed/49TiJffdYKU?list=PL380UExtqJFdnsNCDGv4pQYDsE2hrwy7O" frameborder="0" allowfullscreen></iframe>

       <iframe width="100%" height="315" src="https://www.youtube.com/embed/6MTatvsqNMY?rel=0" frameborder="0" allowfullscreen></iframe>

      </div>

      <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab4">photography</a>
      <div id="tab4" class="js-vertical-tab-content vertical-tab-content">
        <h2>Select Albums</h2>
        <a data-flickr-embed="true"  href="https://www.flickr.com/photos/davewoodall/albums/72157660360680599" title="june gloom"><img src="https://farm1.staticflickr.com/648/22956089845_c7f847f251.jpg" width="100%" height="100%" alt="june gloom"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
        <p>June 2015 in San Diego</p>

        <a data-flickr-embed="true"  href="https://www.flickr.com/photos/davewoodall/albums/72157634034325051" title="Great Sand Dunes"><img src="https://farm9.staticflickr.com/8397/9002225626_1a183d41c6.jpg" width="100%" height="100%" alt="Great Sand Dunes"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
        <p>June 2013 at the Sand Dunes</p>
      </div>
      <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab5">design</a>
      <div id="tab5" class="js-vertical-tab-content vertical-tab-content">
        <h2>Various designed things.</h2>
        <img src="https://d13yacurqjgara.cloudfront.net/users/137644/screenshots/1974715/dog.gif" alt="">
        <p>Animation practice. Bad dog!</p>
        <img src="https://d13yacurqjgara.cloudfront.net/users/137644/screenshots/890682/crocs_1x.jpg" alt="">
        <p>product line design and development</p>
        <img src="https://d13yacurqjgara.cloudfront.net/users/137644/screenshots/887939/celebrity_1x.jpg" alt="">
        <p>improving the customer experience</p>
      </div>
      <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab6">micro-clubs</a>
      <div id="tab6" class="js-vertical-tab-content vertical-tab-content">
        <h2>They used to call me all business dave</h2>
        <p>Back in college I used to gather some friends together for various group activities such as eating contests, book clubs, big idea thinking, and music recommentions.</p>
        <h2>sortpop, my latest club</h2>
        <p>I've recently started a new one on Slack that gathers all the best designers, developers, inventors, entrepreneurs, managers, and all around hustlers into a single team. It's pretty epic.</p>
      </div>
      <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab7">pet projects</a>
      <div id="tab7" class="js-vertical-tab-content vertical-tab-content">
         <h2>I have all kinds of pet projects so I'll just list them here for later.</h2>
         <ul>
           <li>board game - cat math do</li>
           <li>card game - animores</li>
           <li>binka brew - soup shop idea</li>
           <li>link list</li>
           <li>proverbs</li>
           <li>hashpage</li>
           <li>fake farm</li>
           <li>lettuce books</li>
         </ul>
      </div>
      <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab8">social profiles</a>
      <div id="tab8" class="js-vertical-tab-content vertical-tab-content">
         <h2>Too many to count</h2>i
         <p>I've tried to keep my involvement minimal with all these social networks but let's face it, they are a small hobby in and of themselves.</p>
         <ul>
           <li>contact <a href="https://twitter.com/wwwoodall">twitter</a></li>
           <li>code <a href="https://github.com/woodall">github</a></li>
           <li>writing <a href="https://medium.com/@wwwoodall">medium</a></li>
           <li>design <a href="https://dribbble.com/wwwoodall">dribbble</a></li>
           <li>video <a href="https://www.youtube.com/channel/UC6vFDSlJOIEfqfXL7cLAFvw">youtube</a></li>
           <li>work <a href="www.linkedin.com/in/davewoodall">linkedin</a></li>
           <li>fun <a href="https://www.facebook.com/davewoodall">facebook</a></li>
         </ul>
      </div>
    </div>
  </div>
</section>

<!-- <a href="" title="">
  <span>stop the party</span>
  <div class='dot-border'>
    <div class="dots-divine" >
      <%#= image_tag "dot2.gif" %>
    </div>
  </div>
</a>
 -->
